{% extends 'base.html' %}

{% block title %}Bike Part: {{ bike_part.name }}{% endblock %}

{% block content %}

<p><a href="{% url 'bike:bikepart_update' pk=bike_part.id %}">Edit this bikepart</a></p>
<p><a href="{% url 'bike:bikepart_delete' pk=bike_part.id %}">Delete this bikepart</a></p>

<div class="details">
    <p>
    <h2><strong>{{ bike_part.name }}</strong></h2>
    <strong>Type:</strong> {{ bike_part.type }}<br>
    <strong>Brand:</strong> {{ bike_part.brand }}<br>
    <strong>Model:</strong> {{ bike_part.model }}<br>
    <strong>Mileage:</strong> {{ bike_part.mileage }}<br>
    <strong>Description:</strong> {{ bike_part.description }}<br>
    </p>
</div><br>
{% endblock %}